article, .article {
	display:block;
	margin-left: 5px;
	margin-right: 5px;
}
kalma, .kalma {
	color: red;
	font-weight:bold;
}
bowodu, bowodu_gade, .bowodu, .bowodu_gade {
	font-family: courier;
}
naptu_curo_nahauyen, .naptu_curo_nahauyen {
	font-style: italic;
}
maana, maana_tiloa, .maana, .maana_tiloa {
	font-weight: bold;
}
misal, .misal {
	font-style: italic;
}
kalakta, .kalakta {
	color: blue;
}
mane, .mane {
	text-decoration:underline;
	color:navy;
}